<!DOCTYPE html>
<html lang="">
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<head>
    <title>chat</title>
</head>
<body>
<div id="chat">
    <div id="messageArea">
        <!-- 채팅 메시지 표시 -->
    </div>
    <input type="text" id="messageInput" placeholder="메시지 입력">
    <button id="sendButton">전송</button>
</div>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="/js/app.js"></script>
</body>
</html>